{% extends "bootstrap_5_layout.html" %}
{% set active_page = "assignment" %}

{% block content %}

    <h1>Assignment: {{assignment_details.NAME}}</h1>
    <h3>Due: {{assignment_details.DUE_DATE}}</h3>
    <hr>

    {% if assignment_details.STUDENT_DETAILS is defined and assignment_details.STUDENT_DETAILS|length > 0 %}
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Metric</th>
                    <th scope="col">Score</th>
                    <th scope="col">Comments</th>
                </tr>
                <tbody>
                    {% for a in assignment_details.STUDENT_DETAILS %}
                    <tr>
                        <td>
                            {{ a.metric }}
                        </td>
                        <td>
                            {{ a.score }}
                        </td>
                        <td>
                            {{ a.comments }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    <hr/>
    {% endif %}
    <h4>
        Score: {{assignment_details.FINAL_SCORE}} / {{assignment_details.ASSIGNMENT_POINTS}}
    </h4>
    <hr>
    <h3>DETAILS:</h3>
    <p>Mean: {{ assignment_details.CLASS_MEAN }}</p>
    <p>Lower Quartile: {{ assignment_details.CLASS_LOWER_QUARTILE }}</p>
    <p>Upper Quartile: {{ assignment_details.CLASS_UPPER_QUARTILE }}</p>

{% endblock %}
