{% extends "bootstrap_5_layout.html" %}
{% set active_page = "assignments" %}

{% block content %}


    <h1>Assignments: {{personal_course_info.DEPARTMENT}}-{{personal_course_info.NUMBER}} {{personal_course_info.COURSE_NAME}}</h1>

    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Assignment</th>
                <th scope="col">Due Date</th>
                <th scope="col">Points</th>
                <th scope="col">Average Score</th>
            </tr>
        </thead>
        <tbody>
            {% for a in assignments %}
            <tr class="clickable-row" data-href="/courses/{{ course_id }}/assignments/{{ a.SHEET_NAME }}">
                <td>
                    {{ a.NAME }}
                </td>
                <td>
                    {{ a.DUE_DATE }}
                </td>
                <td>
                    {{ a.POINTS }}
                </td>
                <td>
                    {{ a.AVERAGE_SCORE }} ({{ a.AVERAGE_PCT }})
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        document.querySelectorAll('.clickable-row').forEach(row => {
            row.addEventListener('click', function() {
                window.location.href = this.dataset.href;
            });
        });
    });
    </script>

{% endblock %}
