{% extends "bootstrap_5_layout.html" %}
{% set active_page = "courses" %}

{% block content %}

    <h1>My Assignments</h1>

    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Assignment</th>
                <th scope="col">Due Date</th>
                <th scope="col">Points</th>
                <th scope="col">Grade</th>
            </tr>
            <tbody>
                {% for a in assignments %}
                <tr>
                    <td>
                        {{ a.NAME }}
                    </td>
                    <td>
                        {{ a.DUE_DATE }}
                    </td>
                    <td>
                        {{ a.POINTS }}
                    </td>
                    <td>
                        {{ a.GRADE }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>

{% endblock %}
