{% extends "bootstrap_5_layout.html" %}
{% set active_page = "assignments" %}

{% block content %}

<h1>ROSTER: {{personal_course_info.DEPARTMENT}}-{{personal_course_info.NUMBER}} {{personal_course_info.COURSE_NAME}}</h1>

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th scope="col">Last</th>
            <th scope="col">First</th>
            <th scope="col">Email</th>
            {% if course_status == "TA" or course_status == "TEACHER" %}
                <th scope="col">Current Grade</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for d in roster_data %}
        <tr class="{% if course_status == 'TA' or course_status == 'TEACHER' %}clickable-row{% endif %}" {% if course_status == 'TA' or course_status == 'TEACHER' %}data-href="/courses/{{ course_id }}/students/{{ d.Last }}__{{ d.First }}__{{ d.Email }}"{% endif %}>
            <td>{{ d.Last }}</td>
            <td>{{ d.First }}</td>
            <td>{{ d.Email }}</td>
            {% if course_status == "TA" or course_status == "TEACHER" %}
                <td>{{ d.TOTAL }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if course_status == "TA" or course_status == "TEACHER" %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    const rows = document.querySelectorAll('.clickable-row');
    rows.forEach(row => {
        row.addEventListener('click', function() {
            window.location.href = this.getAttribute('data-href');
        });
    });
});
</script>
{% endif %}

{% endblock %}
