{% extends "bootstrap_5_layout.html" %}
{% set active_page = "courses" %}

{% block content %}

    <h1>Course: {{ COURSE_NAME }}</h1>
    <p>Taught by {{ PROFESSOR }} {% if ROLE == "TEACHER" %} (you) {% endif %}</p>

    <table class="table table-hover text-center">
        <tbody>
            {% if ROLE == "STUDENT" %}
            <tr class="clickable-row"  data-href="/courses/{{ COURSE_ID }}/assignments">
                <td>
                    Assignments
                </td>
            </tr>
            <tr class="clickable-row"  data-href="/courses/{{ COURSE_ID }}/check_ins">
                <td>
                    Weekly Check Ins
                </td>
            </tr>
            {% elif ROLE == "TA" or ROLE == "TEACHER" %}
            <tr class="clickable-row"  data-href="/courses/{{ COURSE_ID }}/check_ins">
                <td>
                    Weekly Check Ins Summary
                </td>
            </tr>
            <tr class="clickable-row"  data-href="/courses/{{ COURSE_ID }}/assignments">
                <td>
                    Assignments
                </td>
            </tr>
            {% endif %}
            <tr class="clickable-row"  data-href="/courses/{{ COURSE_ID }}/roster">
                <td>
                    Roster
                </td>
            </tr>
        </tbody>
    </table>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            document.querySelectorAll('.clickable-row').forEach(row => {
                row.addEventListener('click', function() {
                    window.location.href = this.dataset.href;
                });
            });
        });
        </script>
{% endblock %}
